In [3]:
#Q.2 Given two strings word1 and word2, return the minimum number of operations required to convert word1
#to word2.
#Example 1:
#Input: word1 = "horse", word2 = "ros"

In [48]:
def convert(n):
    b= list(n)
    b.remove('r') , b.remove('e') , b.remove('h'), b.insert(0, 'r')
    return b

In [49]:
convert('horse')

['r', 'o', 's']

In [51]:
# Example 2: Input: word1 = "intention", word2 = "execution"

In [72]:
def convert(n):
    b=list(n)
    b.remove('i') ,  b.remove('n') ,  b.remove('t'),  b.remove('e'),  b.remove('n')
    b.insert(0,'e'), b.insert(1,'x'), b.insert(2,'e') , b.insert(3,'c'), b.insert(4,'u')
    return b

In [73]:
convert('intention')

['e', 'x', 'e', 'c', 'u', 't', 'i', 'o', 'n']

In [74]:
#Q. 3 Print the max value of the array [ 13, 1, -3, 22, 5].

In [97]:
def m(arr):
    me= arr[0]
    for i in arr:
        if i> me:
            me= i
            return me
        else:
            pass

In [98]:
m([ 13, 1, -3, 22, 5])

22

In [99]:
#Q.4 Find the sum of the values of the array [92, 23, 15, -20, 10].

In [9]:
def sum_(arr):
    s=0
    for i in arr:
        s=s+i
    return s

In [10]:
sum_([92, 23, 15, -20, 10])

120

In [12]:
#Q.5 Given a number n. Print if it is an armstrong number or not.An armstrong number is a number if the sum
#of every digit in that number raised to the power of total digits in that number is equal to the number.
#Example : 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153 hence 153 is an armstrong number. (Easy)

In [40]:
def armstrong(n , a):
    if n== 0:
        return 0
    else:
        d= n%10
        r=d**a + armstrong(n//10, a)
        return f'the no i'

In [41]:
armstrong(153, 3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'